* {
  margin: 0;
  padding: 0;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row section {
  text-align: center;
  width: 15%;
  height: 200px;
  background-color: rgb(102, 202, 102);
}
.column {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
}
.column section {
  margin: 0px 40px;
  margin-top: 20px;
  text-align: center;
  width: 300px;
  height: 200px;
  background-color: rgb(240, 69, 47);
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 114, 131);
  height: 120px;
}
footer p {
  color: white;
}
